html {
    font-family: Helvetica, Helvetica sans-serif;
    font-size: 100%;
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1rem;
    color: #595959;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

a:hover {
    text-decoration: underline;
}

.page-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2rem;
    min-height: 100vh;
    width: 50%;
    padding: 2rem;
    margin: 0 auto;
}

figure{
    display: flex;
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

section {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
    text-align: left;
    gap: 1rem;
}

section > p {
    line-height: 1.25rem;
}

section ul,
section ol {
    margin-left: 1rem;
    line-height: 1.25rem;
}

section li:not(:last-of-type) {
    margin-bottom: 0.5rem;
}

@media (max-width: 1001px) {
    .page-container {
        width: 75%;
        gap: 1rem;
    }
}

@media (max-width: 601px) {
    .page-container {
        width: 100%;
        padding: 1rem 1rem 2rem;
    }
}
